.game h1{
    font-size: 2.5em;
}

.points span{
    font-weight: bold;
}

.tip span{
    color: #fdf800;
    text-transform: capitalize;
}

.wordContainer{
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #c9c9c9;
    display: inline-flex;
}

.letter , .blankSquare{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid;
    width: 100px;
    height: 100px;
    text-transform:uppercase;
    background-color: white;
    color: black;
    font-weight: bold;
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form{
    display: inline;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}


